header {
    position: relative;
    background-color: #d5f4e6;
  }
  .shopping-mall{
    position: absolute;
    bottom: 20px;
    font-variant: small-caps;
  }
  .shopping-mall>h1{
    font-family: Times New Roman;
    font-size: 50px;
    color: black;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px black;
    padding-bottom: 0px;
    border-bottom: 1px solid gray;
    margin: 0px;
  }
  .poly-cart{
    margin-top: 5px;
  }

  .poly-cart ul {
   padding: 0px;
   margin: 0px;
   list-style: none;
   font-variant: small-caps;
 }

 .poly-cart .panel-heading strong {
   font-variant: small-caps;
   font-size: larger;
   text-shadow: 0 0 2px black;
 }